.rightSidebar {
    background-color: rgba(240, 248, 255, 0.837);
    position: fixed;
    height: calc(100vh - 80px);
    width: 300px;
    top: 80px;
    right: 0; 
    z-index: 2;
    padding: 20px;
    overflow-y: auto;
  
    h2 {
      margin-bottom: 10px;
      margin-left: 20px;
      @media (max-width: 480px) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    select{
      border-radius: 10px;
      padding: 1px;
    }

    label,select,input,button{
      @media(max-width:1128px){
        margin-left: 20px;
        margin-top: 10px;
      }
    }

    @media (max-width: 1128px) {
      width: 100%;
      height: calc(50vh - 60px);
      display: flex;
      flex-direction: column;
      background-color:inherit;
      margin-top: 220px;
    }

    @media (max-width: 591px) {
      margin-top: 270px;
    }
  
    @media (max-width: 480px) {
      font-size: 12px;
      width: 100%;
      top: 0;
      height: 100vh;
      padding: 10px;
      margin-top: 320px;
    }
  }
  