.main {
    background-color: rgba(240, 248, 255, 0.837);
    position: fixed; 
    height: calc(100vh - 80px); 
    width: 300px;
    top: 80px;
    left: 0;
    z-index: 2;
    padding: 20px;
    overflow-y: auto; 
    
    h2 {
      margin-bottom: 10px;
      margin-left: 20px;

      @media (max-width: 1128px) {
      margin-top: 20px;
      }
      @media (max-width: 480px) {
        font-size: 16px;   
        margin-bottom: 0;  
       }
    }

    @media (max-width: 1128px) {
      width: 100%; 
      top: 60px; 
      height: calc(60vh - 60px);
      display: flex;
      flex-direction: column;
     
    }

    @media (max-width: 591px) {
      height: calc(62vh - 60px);
    }
  
    @media (max-width: 480px) {
     font-size: 12px;
     padding: 10px;
     
    }
  }
  