.main {
    background-color: rgba(240, 248, 255, 0.837);
    position: fixed; 
    height: calc(100vh - 80px); 
    width: 300px;
    top: 80px;
    left: 0;
    z-index: 2;
    padding: 20px;
    overflow-y: auto; 
  
    h2 {
      margin-bottom: 10px;
      margin-left: 20px;
    }
  
    @media (max-width: 768px) {
      width: 250px; 
      top: 60px; 
      height: calc(100vh - 60px);
    }
  
    @media (max-width: 480px) {
      width: 100%; 
      top: 0;
      height: 100vh; 
      padding-top: 10px;
    }
  }
  