.main {
    width: 65px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--terziary);
    transition: all 0.2s ease;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        width:52px;
        height:20px;
        margin-top: 0;
      }

    .mask {
        position: absolute;
        width: 0%;
        height: 100%;
        z-index: 1;
        background-color: var(--darkBlue);
        transition: all 2s ease;

        &.active{
            width: 100%;
        }
    }

    .dot {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid var(--secondary);
        border-radius: 50%;
        left: 2px;
        background-color: var(--primary);
        transition: all 0.2s ease;
        z-index: 10;
        @media (max-width: 768px) {
            width: 20px;
            height: 20px;
           
          }

        &.active {
            left: 30px;
            border: 1px solid var(--primary);
        }
    }

    &.active {
        background-color: var(--secondary);
    }
}