.main {
  min-height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: var(--darkBlue);
  display: flex;
  justify-content: space-between; 
  padding-top: 100px;
  padding-left: 300px; 
  padding-right: 300px; 

  .content {
    padding: 20px 0;
    width: 100%;
  }

  .container {
    margin-left: 20px;
    gap: 20px;

    @media (max-width: 768px) {
    display: flex;
    width: 100%;
    }
  }
  
  .sidebar {
    width: 25%;
    margin-left: 2%;
  }

  .result {
    @include window-style(100%);
    background-image: url("../assets/paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 100px;
    box-shadow: none;
    line-height: 2;
    font-size: 18px;

    @media (max-width: 768px) {
      width: 100vw;
      padding: 10px;
      margin-top: 15rem;
    }

    @media (max-width: 480px) {
      padding: 20px;
      margin-top: 10px;
      background-position: center;
    }
  }
}
