.main{
    text-align: end;

    select{
        border-radius: 10px;
        padding: 2px;
        margin-top: 10px;
    }
    input[type=range]{
        accent-color: var(--darkBlue);
        margin-top: 10px;
    }
    button{
        margin-top: 10px;
    }
}