.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 20px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}